/*
Position
1. Static:
2. Relative: Depends on current position
3. Absolute: Depends on parent's position
4. Fixed
*/
body {
  margin: 0;
}

.red {
  background-color: red;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  left: 200px;
}

.green {
  background-color: green;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  right: 100px;
}

.blue {
  background-color: blue;
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  right: 100px;
}

.yellow {
  background-color: yellow;
  height: 300px;
  width: 300px;
  position: relative;
}

.purple {
  background-color: purple;
  height: 100px;
  width: 100px;
  position: relative;
  right: 10px;
}

.brown {
  background-color: brown;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 10px;
}

.pink {
  background-color: pink;
  width: 100px;
  height: 100px;
  position: fixed;
  top: 0;
  right: 0;
}
